{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="container">
  <br>

  {% block body %}

  <div class="container">

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h1>Batch import students preview</h1>
        <hr>
        <br>
        <div class="table-responsive">
          <table summary="User table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Student number</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="searchableTable">
              {% for student in student_info_array %}
              <tr>
                <td>{{student['name']}}</td>
                <td>{{student['number']}}</td>
                <td>{{student['email']}}</td>
                <td>
                  Action
                </td>
              </tr>

              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
              </tr>
            </tfoot>
          </table>
        </div>
        <!--end of .table-responsive-->

        <a href="{{url_for('user.batch_import_students_process')}}" class="float-right"><button class="btn btn-primary">Next <i class="fa fa-chevron-right"></i> </button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</div>
{% endblock %}